@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* BASIC FORMATTING */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: black;
  background-color: #063270;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #cadbf8;
  border-bottom: 5px solid #ffd034;
  border-top: 5px solid #ffd034;
  padding: 1rem;
}
h1 {
    font-weight: 300;
  font-size: 3rem;
line-height: 1.1667;
text-transform: uppercase;}

h2 {
  font-size: 2.5rem;
  line-height: 1.16672;
  font-weight: 300;
  text-transform: uppercase;
}
header {
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}


nav ul {
    color: white;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: white;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;}

 a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
    
  }

  .card {
    padding: 2rem;
  }

  .card a{
    background-color: #2b70e4;
    padding: 1rem;
    border-radius: 10px;
    
  
  }
  .hero-text a {
    background-color: hero;
    background-color: #209d5c;
    padding: 1rem;
    border-radius: 10px;

  }

footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  
  
  @media (max-width: 1000px) {
   .color-wrap { 
    background-color:  #cadbf8;
  }
  
@media (min-width: 1000px) 
</div>{
 .cards-wrapper {
   
    display: grid;
   grid-template-columns: 1fr 1fr;
  
    
 }
}
@media (min-width: 1000px){
  
 .cards-wrapper {     
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
 }
}


